<!DOCTYPE html>
<html>
<head>
  <title>Music is the spice of life!</title>
  <!-- CSS all from solution -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/artists">Artists</a> </li>
      <li><a href="/albums">Albums</a> </li>
      <li><a href="/library">Library</a> </li>
      <li><a href="/artists/new">New Artist</a> </li>
      <li><a href="/albums/new">New Album</a> </li>
    </ul>
  </nav>
  <main>
  <%= yield %>
  </main>
</body>
</html>
<!-- nav items and putting yield into main tags from solution -->